<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    <script>
        let scheduled_func = null;
        let test = new Date({{ target_date|tojson }});

        function calculate_timer() {

            let now = new Date().getTime();

            let distance = test.getTime() - now;

            // Time calculations for days, hours, minutes and seconds
            let days = Math.floor(distance / (1000 * 60 * 60 * 24));
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            if (distance < 0) {
                clearInterval(scheduled_func);
                window.location.href = "/"
                document.getElementById("demo").innerHTML = "Review phase has finished!";
            }
        }

        window.onload = function () {
            calculate_timer();
            // Update the count down every 1 second
            scheduled_func = setInterval(calculate_timer, 1000);
        }
    </script>
</head>
<body>
<h2>You are: {{ alias }}</h2>
<h3>Review phase</h3><br>
<a href="/download_files" target="_blank">Download Files</a>
<h3>You have completed your reviews. Results will be published in:</h3>
<h4 id="demo"></h4>
</body>
</html>